/**
 * @name SF6 Akuma Theme
 * @author ViperKreuz/Metaphantom & Fonsi
 * @description Fan made theme for Akuma in Street Fighter 6
 * @version 1.0.0
 * @Source https://github.com/metaphantom/SF6-Akuma-Theme/
 */

/* Home icon */
.childWrapper_f90abb {
  content: "";
  border-radius: 50%;
  position: absolute;
  background: url(https://i.pinimg.com/originals/3f/e5/dd/3fe5dde62a1765cc23e163996ce31ae0.gif);
  background-size: 120%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--akuma-theme-secondary);
  height: 100%;
  width: 100%;
  transition: 0.2s ease;
  > svg {
    display: none;
  }
}

.acronym_f90abb {
  background-image: none !important;
}

.wrapper_f90abb:hover .childWrapper_f90abb,
.wrapper_f90abb.selected_f90abb .childWrapper_f90abb {
  background-color: var(--akuma-theme-primary);
  border-radius: 20%;
}

/* .homeIcon__560eb,
.tutorialContainer_f9623d .childWrapper_f90abb {
  display: none; -- Discontinued
} */

/* Using an installed font. Example using Comic Sans */
::-webkit-input-placeholder,
body,
button,
input,
select,
textarea {
  /*font-family: "Halt Regular";
  font-style: inherit; */
  font-size: 100%;
  font-weight: 400;
}

:root {
  /* SF6 Akuma Theme Declarations */
  --akuma-theme-primary: rgb(14, 0, 26);
  --akuma-theme-secondary: rgba(33, 6, 59, 0.772);
  --akuma-theme-tertiary: rgba(28, 1, 54, 0.847);
  --akuma-theme-profile-gradient-primary-color: rgb(37, 1, 71);
  --akuma-theme-profile-gradient-secondary-color: rgba(68, 1, 1, 0.452);

  --background-gradient: linear-gradient(
    0deg,
    rgba(23, 0, 0, 0.445) 0%,
    rgba(40, 0, 0, 0.877) 35%,
    rgba(20, 0, 44, 0.897) 100%
  );

  /* Regular Discord Vars */
  --background-primary: var(--akuma-theme-primary);
  --background-secondary: var(--akuma-theme-secondary);
  --background-tertiary: var(--akuma-theme-tertiary);

  --background-secondary-alt: var(--akuma-theme-tertiary);

  --channeltextarea-background: var(--akuma-theme-tertiary);

  --profile-gradient-primary-color: var(
    --akuma-theme-profile-gradient-primary-color
  );
  --profile-gradient-secondary-color: var(
    --akuma-theme-profile-gradient-secondary-color
  );
}

/* .wrapper__216eb {
  background-color: #19014ddb;
} */

/*.guilds__2b93a,
.listItem__48528 {
  width: 72px;
} */

/*.wrapper__9916c,
.svg__34dd4 {
  width: 48px;
  height: 48px;
} */

/* .sidebar_e031be {
  --background-secondary: ;
  background-color: #24015cd0;
} */

/* .container_f79ab4 {
  --background-secondary: ;
  background-color: rgba(0, 0, 0, 0.502);
} */

/* Main Background */

.chat_a7d72e {
  --background-primary: rgb(from var(--akuma-theme-primary) r g b / 35%);
}

.app_a01fb1 {
  background: radial-gradient(
    circle,
    rgba(136, 0, 0, 0.833) 0%,
    rgba(29, 0, 64, 0.984) 60%
  );
}

.bg_d4b6c5 {
  background-image: url("https://i.imgur.com/NU5HjLD.png");
  background-size: 50%;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-color: transparent;
}

.bg_d4b6c5 {
  background-image: url("https://i.imgur.com/NU5HjLD.png");
  background-size: 50%;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-color: transparent;
}

.theme-dark .themed_e44302 {
  --__header-bar-background: rgba(47, 1, 1, 0.678);
}

/* Top Title bar */

.titleBar_a934d8 {
  background: rgba(255, 0, 0, 0.178);
}

.withFrame_a934d8 {
  height: 18px;
  margin-top: 0px;
  padding-top: 4px;
}

/* .userPanelInner__3184c {
  background: rgb(209, 209, 209); 
} */

/* User Profile */

.userProfileInnerThemedNonPremium_c69a7b {
  background: linear-gradient(
    var(--akuma-theme-profile-gradient-primary-color),
    var(--akuma-theme-profile-gradient-secondary-color)
  );
}

.userProfileInner_c69a7b {
  background-image: url("https://i.imgur.com/eZFpoDV.png");
  background-size: 85%;
  background-position-x: center;
  background-position-y: 3cm;
  background-repeat: no-repeat;
  background-color: rgba(22, 0, 59, 0.484);
}

.overlayBackground_c69a7b {
  --profile-body-background-color: rgba(37, 0, 0, 0.564);
}

/* Chat Icon Colours */

.icon_e44302 {
  color: red;
}

.selected_e44302 .icon_e44302 {
  color: rgb(236, 2, 2) !important;
}

.clickable_e44302:hover .icon_e44302 {
  color: rgb(250, 129, 129);
}

.clickable_e44302 .icon_e44302 {
  color: rgb(124, 88, 240);
}

/* Scrollbar */

.theme-dark .scroller_e412fe::-webkit-scrollbar-track {
  background: rgba(44, 0, 0, 0.71);
}

.theme-dark .scroller_e412fe::-webkit-scrollbar-thumb {
  background: rgb(54, 32, 84);
}

::-webkit-scrollbar {
  width: 10px !important;
}

/* Main Chat Scrollbar */

.scroller_e2e187::-webkit-scrollbar-track {
  background: rgba(44, 0, 0, 0.71);
}

.scroller_e2e187::-webkit-scrollbar-thumb {
  background: rgb(54, 32, 84);
}

/* Channel Scrollbar */

.scroller_c43953::-webkit-scrollbar-track {
  background: rgba(44, 0, 0, 0.71);
}

.scroller_c43953::-webkit-scrollbar-thumb {
  background: rgb(54, 32, 84);
}

/* Channel Colours */

.modeSelected_d8bfb3 .link_d8bfb3 {
  background: rgb(54, 32, 84);
}

.wrapper_d8bfb3.modeSelected_d8bfb3 .link_d8bfb3:hover::before {
  background: rgba(44, 0, 0, 0.772);
  filter: brightness(100%);
  border-radius: var(--radius-xs);
}

.link_d8bfb3:hover::before {
  background: rgb(26, 0, 53);
}
